#infodiv {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: rgb(37, 37, 37);
    margin-top: 50px;
    border: 2px solid wheat;
}

#infodiv > h3 {
    text-align: center;
}
#infodiv > p {
    padding: 10px 30px;
}