nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color:  wheat;
    width: 50%;
    border-radius: 0.3rem;
    border: 4px solid teal;
}
h1{
    flex:3;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 5rem;
    color: teal;
}
div{
    
    list-style-type: none;
    flex:2;
    margin: 0.5rem;
    padding: 0.5rem;
    
    
}
ul{
    list-style-type: none;
    font-size: 24px;
    
}
li{
   margin: 0.1rem;
   border: 1px solid black;
   border-radius: 10px;
   background-color: thistle;
   text-align: center;
   padding: 5px 10px;
}

a{
    text-decoration: none;
    color: black;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
li:hover{
    background-color: teal;
    color: white;
}
a:hover{
    color: white;
}